body {
    background-color: #1a1b26;
    color: white;
}

.submit {
    background-color: #3895D3;
}
.top-container {
    border: 1px solid white;
    padding: 1em;
    margin: 1em;
    display: none;
    border-radius: 1em;
}

.bottom-container {
    display: none;
    color: white;
    /* flex-direction: row; */
}

.div-container {
    background-color: #3895D3;
    /* display: flex; */
    /* flex-direction: column; */
    width: 40%;
    padding: 1em;
    margin: 1em;
    border-radius: 1em;
}

#currentUV {
    display: inline-block;
    color: black;
}